<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()"> Open form</button>
        <h1>Nilai A : {{ a }}</h1>
        <h1>rata - rata : {{ average }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                average: 0
            },
            methods: {
                openForm: function () {
                    let nomor;
                    let jumlahNomor = []
                    for (i = 1; i < 10; i++) {
                        if (this.a < 10) {
                            nomor = prompt("masukkan nilai")
                            this.a += parseInt(nomor)
                            jumlahNomor.push(nomor);
                        } else {
                            i = 11
                        }
                    }
                    this.average = this.a / jumlahNomor.length;
                    // console.log(jumlahNomor)
                }
            }
        })
    </script>
</body>

</html>