<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12</title>
</head>

<body>
    <div id="app">
        <form v-if="formType == 'crud'">
            <label>Nama</label><br />
            <input type="text" placeholder="Nama" v-model="userName" name="userName"><br />
            <label>Address</label><br />
            <input type="text" placeholder="address" v-model="userAddress" name="userAddress"><br />
            <label>No. Handphone</label><br />
            <input type="number" placeholder="No. handphone" v-model="userHandphone" name="userHandphone" /><br />

            <div v-if="updateClicked == 'added'">
                <button v-on:click.prevent="addMember()">Submit</button>
                <button v-on:click.prevent="formType = 'search'">Search</button>
            </div>
            <div v-else-if="updateClicked == 'updated'">
                <button v-on:click.prevent="updateMembers(userId)">Update</button>
                <button v-on:click.prevent="clearInput">cancel</button>
            </div>
            <div v-else-if='updateClicked == "photo"'>
                <input type="file" name="photo" ref="photo" style="margin: 10px 0;"><br />
                <button v-on:click.prevent="uploadPhoto(userId)">Upload</button>
                <button v-on:click.prevent="clearInput">cancel</button>
            </div>
        </form>
        <div v-else-if="formType == 'search'">
            <form v-on:submit.prevent="findMember(userId)">
                <label>search by ID</label><br />
                <input type="number" placeholder="masukkan id" v-model="userId">
                <button>Submit</button>
                <button v-on:click="formType = 'crud'">cancel</button>
                <!-- <p>{{resultSearch}}</p> -->
            </form>

            <br />
            <table border="1" v-if="resultSearch !== null && resultSearch !== 'error'">
                <tr>
                    <td>
                        <img v-bind:src="resultSearch.photo_profile ? baseUrl + resultSearch.photo_profile : 'https://dummyimage.com/300x200/000/fff&text=404'"
                            alt="photo profile" width="125">
                    </td>
                    <td>
                        ID : {{resultSearch.id}}<br />
                        Nama : {{resultSearch.name}}<br />
                        Address : {{resultSearch.address}} <br />
                        No. HP : {{resultSearch.no_hp}}<br />
                    </td>
                </tr>
            </table>
        </div>

        <br />
        <table border="1">
            <tr v-for="member in members">
                <td>
                    <img v-bind:src="member.photo_profile ? baseUrl + member.photo_profile : 'https://dummyimage.com/300x200/000/fff&text=404'"
                        alt="photo profile" width="125">
                </td>
                <td>
                    ID : {{member.id}}<br />
                    Nama : {{member.name}}<br />
                    Address : {{member.address}} <br />
                    No. HP : {{member.no_hp}}<br />
                </td>
                <td>
                    <button v-on:click="isUpdated(member)" style="width: 139px;">Edit</button><br />
                    <button v-on:click="deleteMember(member.id)" style="width: 139px;">Delete</button> <br />
                    <button v-on:click="isUploaded(member)" style="width: 139px;">Add photo</button>
                </td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                resultSearch: null,
                formType: 'crud',
                members: [],
                baseUrl: 'http://demo-api-vue.sanbercloud.com',
                userName: '',
                userAddress: '',
                updateClicked: 'added',
                userHandphone: '',
                userId: null

            },
            computed: {
            },
            methods: {
                getMember: function () {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }
                    axios(config)
                        .then((response) => {
                            console.log(response.data)
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            // console.log(error)
                            throw error;
                        })
                },
                addMember() {
                    const bodyformData = new FormData();
                    bodyformData.append('name', this.userName);
                    bodyformData.append('address', this.userAddress);
                    bodyformData.append('no_hp', this.userHandphone)
                    const config = {
                        method: 'post',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                        data: bodyformData
                    }
                    if (this.updateClicked == 'added') {
                        axios(config)
                            .then(response => {
                                this.clearInput
                                this.getMember()
                                console.log(response.data)
                                alert(response.data.message)
                            })
                            .catch(error => {
                                throw error;
                            })
                    }
                },
                deleteMember(memberId) {
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${memberId}`,
                        params: {
                            _method: 'DELETE'
                        }
                    }
                    axios(config)
                        .then(response => {
                            this.clearInput
                            this.getMember()
                            alert(response.data.message)
                            console.log(response.data)
                        })
                },
                isUpdated(member) {
                    this.userName = member.name;
                    this.userAddress = member.address;
                    this.userHandphone = member.no_hp;
                    this.userId = member.id;
                    this.updateClicked = 'updated'
                },
                clearInput() {
                    this.userName = '';
                    this.userHandphone = '';
                    this.userAddress = '';
                    this.userId = '';
                    this.updateClicked = 'added';
                },
                updateMembers(memberId) {
                    bodyformData = new FormData();
                    bodyformData.append('name', this.userName);
                    bodyformData.append('address', this.userAddress);
                    bodyformData.append('no_hp', this.userHandphone);
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${memberId}`,
                        params: {
                            _method: 'PUT'
                        },
                        data: bodyformData
                    }

                    axios(config)
                        .then(response => {
                            console.log(response.data);
                            alert(response.data.message)

                        })
                        .catch(error => {
                            throw error;
                        })
                        .then(() => {

                            this.clearInput();
                            this.getMember();
                        })
                },
                isUploaded(member) {
                    this.userName = member.name;
                    this.userHandphone = member.no_hp;
                    this.userAddress = member.address;
                    this.updateClicked = 'photo';
                    this.userId = member.id;
                },
                uploadPhoto(memberId) {
                    const bodyformData = new FormData();
                    bodyformData.append('photo_profile', this.$refs.photo.files[0]);
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${memberId}/upload-photo-profile`,
                        data: bodyformData
                    }
                    axios(config)
                        .then(response => {
                            console.log(response.data);
                            alert(response.data.message);
                            // this.updateClicked = 'added';
                            this.clearInput();
                            this.getMember();

                        })
                        .catch(error => {
                            throw error;
                        })
                }, findMember(userId) {
                    const config = {
                        method: 'get',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${userId}`
                    }
                    axios(config)
                        .then(response => {
                            console.log(response.data)
                            this.resultSearch = response.data.member
                            console.log(this.resultSearch)

                        })
                        .catch(error => {
                            this.resultSearch = 'error';
                            alert(error)
                            throw error;
                        })
                }
            },
            created() {
                this.getMember()
            }
        })
    </script>

</body>

</html>