<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-if="updateClicked === false" v-cloak>
            <form @submit.prevent="addName()">
                <input type="text" name="userInput" v-model="userInput" placeholder="Masukkan nama">
                <button>Submit</button>
            </form>
        </div>
        <div v-else>
            <form @submit.prevent="updateName(indexNama)" v-cloak>
                <input type="text" name="userInput" v-model="userInput" placeholder="Masukkan nama">
                <button>Update</button>
            </form>
        </div>
        <ul>
            <li v-for="(names, index) in users" v-cloak>
                {{names.name}}
                <button v-on:click="indexNama = index; updateClicked = true; userInput = names.name">Update</button>
                ||
                <button v-on:click="removeName(index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                userInput: '',
                indexNama: '',
                updateClicked: false,
                users: [
                    { 'name': 'Muhammad Iqbal Mubarak' }, { 'name': 'Ruby Purwanti' }, { 'name': 'Faqih Muhammad' }
                ]
            },
            computed: {
            },
            methods: {
                addName() {
                    console.log("success")
                    this.users.push({ 'name': `${this.userInput}` });
                    this.userInput = '';
                },
                removeName(removed) {
                    if (confirm('Anda yakin?')) {
                        this.users.splice(removed, 1);
                    }
                    // console.log(removed)
                }, updateName(updated) {
                    // console.log(this.users[updated])
                    this.users[updated] = { name: `${this.userInput}` };
                    // console.log(this.updateClicked)
                    this.updateClicked = false
                }
            }
        })
    </script>
</body>

</html>