<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" v-model='userInput' placeholder="Find books">
        </form>
        <li v-for="bookName in findBooks">{{ bookName }}</li>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                userInput: "",
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier elementer',
                    'Aljabar abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            computed: {
                findBooks: function () {
                    const userInput = this.userInput;
                    return this.books.filter(function (book) {
                        const filterBook = RegExp(userInput, 'gi')
                        // console.log(userInput, book)
                        return book.match(filterBook)
                    })
                }
            },
            methods: {
            }
        })

    </script>
</body>

</html>